<% layout('layouts/orderboilerplate') %>
<div class="row g-0 mb-5">
	<div class="col-12 col-lg-8">
		<section class="shadow-sm py-3 mb-3 bg-body">
			<div class="container px-2 px-lg-5">
				<h2>
					Kay Alex
					<a
						class="float-end me-3"
						href="https://www.instagram.com/officialkayalex/"
						><i data-feather="instagram" id="icon-purple"></i
					></a>
				</h2>
				<p class="mb-0" id="appendTimeBanner"></p>
			</div>
		</section>
		<section class="shadow-sm py-1 mb-5 bg-body">
			<p class="text-center fs-5 p-0 m-0 mb-2">
				<span class="fw-bold">Pick Up</span> for
				<select name="" id="appendTimes"></select>
			</p>
		</section>
		<section>
			<div class="container px-2 px-lg-5">
				<h3>Featured</h3>
				<div class="row row-cols-3 g-2" id="productsList">
					<% if(products){ for(let product of products){%>
					<div class="col-12 col-xl-4">
						<div
							class="card food_item shadow-sm py-1"
							data-bs-toggle="modal"
							data-bs-target="#product<%= product._id %>model"
						>
							<div class="card-body">
								<h5 class="card-title"><%= product.name %></h5>
								<p class="text-dark mb-0">$<%= product.price.toFixed(2) %></p>
							</div>
						</div>
						<div
							class="modal fade"
							id="product<%= product._id %>model"
							tabindex="-1"
							aria-labelledby="product<%= product._id %>modelLabel"
							aria-hidden="true"
						>
							<div class="modal-dialog-centered modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5
											class="modal-title"
											id="product<%= product._id %>modelLabel"
										>
											<%= product.name %>
										</h5>
										<button
											type="button"
											class="btn-close"
											data-bs-dismiss="modal"
											aria-label="Close"
										></button>
									</div>
									<div class="modal-body"><%= product.description %></div>
									<div
										class="
											modal-footer
											justify-content-start
											flex-column
											p-2
											flex-wrap
										"
										style="width: 100%"
									>
										<form
											class="row row-cols-12 w-100"
											action="/order/add-to-cart/<%= product._id %>"
											method="POST"
											+
										>
											<div
												class="
													col-sm-auto
													text-center text-sm-start
													mb-2 mb-sm-0
												"
											>
												<button class="minus bg-body" style="border: none">
													<i data-feather="minus" id="icon-purple"></i>
												</button>
												<input
													type="number"
													class="qty p-2 border"
													maxlength="2"
													name="qty"
													min="1"
													value="1"
													readonly
												/>
												<button class="plus bg-body" style="border: none">
													<i data-feather="plus" id="icon-purple"></i>
												</button>
											</div>
											<div class="col">
												<button
													class="
														btn btn-primary
														cart
														text-start
														ps-3
														border-0
														w-100
													"
												>
													<span class=""
														><i data-feather="shopping-cart"></i
													></span>
													Add to cart
													<span
														class="float-end pe-2"
														id="dynamicPrice                    "
														>$<%= product.price.toFixed(2) %></span
													>
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% }} %>
				</div>
			</div>
		</section>
	</div>
	<section
		class="col-4 d-none d-lg-block position-fixed end-0 shadow-sm bg-body"
	>
		<div class="container">
			<div
				class="card shadow-sm py-1 mb-5 bg-body border-0"
				style="height: calc(100vh - 60px)"
			>
				<div class="card-body d-flex flex-column">
					<h5 class="card-title mb-2">Your Order</h5>
					<% if(cart.cartItems.length){ for(let cartProduct of cart.cartItems){
					%>
					<div class="card border-0 d-inline">
						<div class="card-body p-2">
							<div class="row row-cols-12 g-3" style="width: 100%">
								<div class="col-auto fw-bold"><%= cartProduct.qty %></div>
								<div class="col fw-bold"><%= cartProduct.name%></div>
								<div class="col-auto text-end">
									$<%= cartProduct.price.toFixed(2)%>
								</div>

								<div class="row row-cols-auto">
									<div class="col p-0 m-0">
										<button
											type="button"
											class="px-2 bg-body border-0 clickable-link"
											data-bs-toggle="modal"
											data-bs-target="#edit<%=cartProduct._id%>modal"
										>
											Edit
										</button>
									</div>
									<form
										action="/order/<%=cartProduct._id%>/action?_method=DELETE"
										method="POST"
										class="col p-0 m-0"
									>
										<button
											class="border-0 px-2 bg-body clickable-link"
											name="returnPage"
											value="/order"
										>
											Remove
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<% } } else{%>
					<div
						class="
							h-100
							d-flex
							flex-column
							justify-content-center
							align-items-center
						"
					>
						<p class="card-text my-5">Add items to get started</p>
					</div>

					<% } %>

					<div class="mt-auto mb-3">
						<ul class="m-0 px-2" style="list-style: none">
							<li>
								subtotal
								<span class="float-end">$<%= cart.subtotal.toFixed(2) %></span>
							</li>
							<li>
								tax <span class="float-end">$<%= cart.tax.toFixed(2) %></span>
							</li>
						</ul>
					</div>
					<button
						class="
							btn btn-primary
							align-content-end
							cart
							text-start
							ps-3
							border-0
						"
					>
						<span class="pe-1"><i data-feather="shopping-cart"></i></span>
						Checkout (<%= cart.totalQty %>)
						<span class="float-end pe-3">$<%= cart.total.toFixed(2) %></span>
					</button>
				</div>
			</div>
		</div>
	</section>
</div>
<% if(cart.cartItems.length){ for(let cartProduct of cart.cartItems){ %>

<div
	class="modal fade"
	id="edit<%=cartProduct._id%>modal"
	tabindex="-1"
	aria-labelledby="edit<%=cartProduct._id%>modalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog-centered modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="edit<%=cartProduct._id%>modalLabel">
					Edit <%= cartProduct.name %>
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body"><%= cartProduct.description %></div>
			<div
				class="modal-footer justify-content-start flex-column p-2 flex-wrap"
				style="width: 100%"
			>
				<form
					class="row row-cols-12 w-100"
					action="/order/<%= cartProduct._id %>/action?_method=PATCH"
					method="POST"
				>
					<div class="col-auto">
						<button class="cartMinus bg-body" style="border: none">
							<i data-feather="minus" id="icon-purple"></i>
						</button>
						<input
							type="number"
							class="cartQty p-2 border"
							maxlength="2"
							name="qty"
							min="1"
							value="<%=cartProduct.qty%>"
							readonly
						/>
						<button class="cartPlus bg-body" style="border: none">
							<i data-feather="plus" id="icon-purple"></i>
						</button>
					</div>
					<div class="col">
						<button
							class="btn btn-primary cart text-start ps-3 border-0"
							style="width: 100%"
							name="returnPage"
							value="/order"
						>
							<span class="pe-1"><i data-feather="shopping-cart"></i></span>
							Add to cart
							<span class="float-end pe-2" id="dynamicPrice                    "
								>$<%= cartProduct.price.toFixed(2) %></span
							>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<%}}%>
